@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-ThinIta.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-ThinIta.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Exlig.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-ExligIta.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-LightIta.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Ita.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-BookIta.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Medi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-MediIta.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-BoldIta.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Xbold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-XboldIta.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "KievitWebPro";
  src: url("./assets/scss/fonts/KievitWebPro-BlackIta.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
