<div *ngIf="dialogRequest != null">
  <h1 mat-dialog-title>
    <span>{{ dialogRequest.title | translate }}</span>
  </h1>
  <div mat-dialog-content>
    <p>{{ dialogRequest.message | translate }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button *ngIf="dialogRequest.callback != null" (click)="retry()">
      <span *ngIf="dialogRequest.withConfirm">{{ "yes" | translate }}</span>
      <span *ngIf="!dialogRequest.withConfirm">{{ "retry" | translate }}</span>
    </button>
    <button mat-button [mat-dialog-close]="dialogRequest" cdkFocusInitial>
      <span *ngIf="dialogRequest.withConfirm">{{ "no" | translate }}</span>
      <span *ngIf="!dialogRequest.withConfirm">{{ "close" | translate }}</span>
    </button>
  </div>
</div>