<app-table #table>
    <mat-table [dataSource]="table.getDataSource()">
        <ng-container [matColumnDef]="columns[0]">
            <mat-header-cell *matHeaderCellDef>{{ columns[0] | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
        </ng-container>
        <ng-container [matColumnDef]="columns[1]">
            <mat-header-cell *matHeaderCellDef>{{ columns[1] | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;">
        </mat-row>
    </mat-table>
</app-table>